.DS_Store
.pyc
.cpython-310.pyc
.cpython-311.pyc
publisher/__pycache__/traffic_data_fetcher.cpython-311.pyc
broker/__pycache__/broker.cpython-311.pyc
broker/__pycache__/__init__.cpython-311.pyc
publisher/__pycache__/__init__.cpython-311.pyc
publisher/__pycache__/publisher.cpython-311.pyc
subscriber/__pycache__/__init__.cpython-311.pyc
subscriber/__pycache__/subscriber.cpython-311.pyc